# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# idk
screenshots
crash-reports
logs
saves
options.txt
usercache.json
usernamecache.json
servers.dat
*.log
SpaghettiClient
/config/
